# Laravel Environment Files
.env
.env.backup
.env.production
.env.*.local

# Vendor & Node Modules
/vendor
/node_modules

# Laravel Caches & Storage Logs
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/storage/logs/*.log
/public/storage
/public/build
/public/hot

# Testing & Tools
.phpunit.result.cache
/.phpunit.cache
/.pactor.json
_ide_helper.php
Homestead.json
Homestead.yaml

# OS & Editor Files
.DS_Store
Thumbs.db
/.vscode/
/.idea/
/.cursor/
/.zed/